#slider1{
     /* background-color: yellow; */
    /* height: 35rem; */
    width: 40rem;
    border-radius: 10px;
    padding: 2px;
}


.main2{
    /* background-color: blue; */
    width: 40rem;
}


.cardspan{
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    
}    
.cardspan >.newsicon{
    width: 18px;
    height: 18px;
}

.con{
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.8rem;

}
.cards{
    display: flex;
    padding: .5rem;
    background-color: white;
    border-radius: 5px;
    /* margin-top: .8rem; */
    box-shadow: 0.5px 0.5px 4px 0.5px gray;

}
.cardimg1{
    border-radius: 5px;
    height: 5.5rem;
    width: 7rem;

}
.container1{
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    word-wrap: break-word;
    width: 11.6rem;

}


