#startmain{
   margin-top: 7rem;
   display:flex ;
   flex-direction: column; 
   justify-content: center;
   align-items: center;
   width: 100vw;
}

#main1{
   /* background-color: green; */
    width: 100vw;
    height: auto;
    /* margin-top: 7rem; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding-left: 6rem;
    padding-right: 6rem;
    padding-bottom: 2rem;


}



.main12{
    display: grid;
    grid-template-columns: 50% auto;
    
}

.hrline{
    width:83%;
}

@media screen and (max-width: 480px) {
    #main1{
        /* background-color: green; */
        width: 100vw;
         height: auto;
         /* margin-top: 7rem; */
         /* display: flex;
         justify-content: center;
         align-items: center; */
         padding-left: 0rem;
         padding-right: 2rem;
         padding-bottom: 0rem;
    }
    

    .main12{
        display: grid;
        grid-template-columns: auto;
        width: 42rem;
        padding: 1rem;
        /* background-color: red; */
    }
    #startmain{
        margin-top: 8rem;
        /* padding-right: 4rem; */
    }
}







    