
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    /* height: 100vh; */
    width: 100vw;
    overflow-x: hidden;
    position: absolute;
}
.forul{
    display: flex;

}
.forul1{
    display: none;
}
.nav1{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    background-color: whitesmoke;
    height: 7.1rem;
    width: 100%;
    align-items: center;
    /* padding: 0.5rem 0.5rem; */
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    box-shadow: 1px 1px 4px 1px gray;
    position: fixed;
    top: 0;
    z-index: 1;
}
.nav11{
    display: flex;
    /* background-color: pink; */
    margin-left: 2rem;
    width: 100%;
}



.searchspan{
    display: flex;
}
.schinput{
    height: 2.8rem;
    width: 100%;
    border: none;
    border-radius: 5px 0px 0px 5px;
    box-shadow: 0.2px .2px 1px .2px gray;
    padding-left: 1rem;
    
}
.schinput:active{
    border: none;
}


.schbtn{
    background-color: rgb(51 147 223);
    height: 2.8rem;
    width: 4.3rem;
    border: none;
    border-radius: 0 5px 5px 0;
    box-shadow: 0.2px .2px 1px .2px gray;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
}
.recentsch > h6{
    font-size: small;
}
.langspam{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.Linkunder:hover{
    text-decoration: underline;
}




.nav12{
    display: flex;
    margin-right: 2rem;
    /* width: 20rem; */
    /* background-color: red; */
    justify-content: center;
    /* background-color: red; */

}

.ul1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;

}
.ul111{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    /* width: 30rem; */

}
.li1{
    margin-left: 1rem;
}
.li1 a:hover{
    text-decoration: underline;
}
.li1-1{
    margin-left: 1.4rem;
}

.icon-size{
    height: 1rem;
}

.a1{
    text-decoration: none;
    color: black;
}
.sel{
    background-color: whitesmoke;
    font-size: 1rem;
    border: 0;
    cursor: pointer;
}
.header{
    box-shadow: 0px 50px 50px -50px gray;
}

.img1{
    width: 4rem;
    height: 1.6rem;
}
.img2{
    width: 1.2rem;
    height: 1.2rem;
}



@media screen and (max-width: 480px) {
    .nav1{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 25% 50% 25%;
        background-color: whitesmoke;
        height: 8.1rem;
        width: 100%;
        align-items: center;
        /* padding: 0.5rem 0.5rem; */
        justify-content: space-between;
        padding-left: 2rem;
        padding-right: 2rem;
        box-shadow: 1px 1px 4px 1px gray;
        position: fixed;
        top: 0;
        z-index: 1;
    }
    .nav11{
        width: 36rem;
        /* background-color: aqua; */
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0rem;
        justify-content: space-between;
    }
    .recentsch{
        display: none;
    }
    .nav12{
        display: none;
    }
    .forul1{
        display: block;
    }
}





